:root {
    --card-width: calc( 99.5vw / 7 );
    --card-height: calc( var( --card-width) * ( 16 / 12 ) );
}

body {
    background-color: #4b654b;
    padding: 0;
    margin: 0;
}

.container {
    width: 99.5vw;
    height: 99.5vh;
}

#upper-row {
    width: 100%;
    height: calc( var( --card-height ) + 20px );


    display: flex;
}


#table {
    display: flex;
    height: calc( 99.5vh - var( --card-height ) - 20px );
}

.card-row {
    width: calc( var( --card-width ) );
    height: 100%;

    display: grid;
    grid-template: 1fr / 1fr;
}

.card-row > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.card-spot {
    border: #535353 2px solid;
    border-radius: 10px;

    margin-left: 10px;
    color: #3e3e3e;

    width: calc( var( --card-width ) - 25px );
    height: var( --card-height );

    display: flex;
    align-items: center;
}

.draggable-card {
    border: #060606 2px solid;
    border-radius: 10px;

    background-color: #5e5050;

    margin-left: 10px;
    color: #3e3e3e;

    width: calc( var( --card-width ) - 25px );
    height: var( --card-height );

    display: flex;
    align-items: center;
}

.back {
    color: #0000 !important;
}

.highlighted {
    background-color: #c7c7c730;
}

.red-text {
    color: #e84949;
}

.black-text {
    color: #000;
}

.card-placeholder {
    margin: 10px;

    border: #535353 2px solid;
    border-radius: 10px;

    color: #3e3e3e;

    width: calc( var( --card-width ) );
    height: var( --card-height );

    display: flex;
    align-items: center;
}

.card-text {
    font-size: calc( var( --card-width ) / 2 );
    margin: auto;
}

.invisible {
    opacity: 0;
}